<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome Sweta!</h2>
      <br>--------------------------------------------------
      <br>
      <br>
      <br>
      <p>Click <a href="/welcome">here</a> to go to the WELCOME PAGE.</p>
      <br>
      <p>Click <a href="/page2">here</a> to go to the SECOND PAGE.</p>
      <br>
      <p><a href="/login">LOGIN</a></p>
    </div>
  </body>
</html>